<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
            <br><br><br><br>
            <h3>Filtrar</h3>
            <br><br>
          <ul class="nav flex-column">
            <li class="nav-item" *ngIf="currentUserType == 'patient' || currentUserType == 'admin'">
                <label>Por Médico</label>
              <input type="text" [(ngModel)]="filterDoctor">
            </li>
            <li class="nav-item" *ngIf="currentUserType == 'doctor'">
                <label>Por Paciente</label>
              <input type="text" [(ngModel)]="filterPatient">
            </li>
            <br><br>
            <li class="nav-item">
                <label>Por Especialidad</label>
              <input type="text" [(ngModel)]="filterSpecialty">
            </li>
          </ul>

        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>
  
        <h2>Mis turnos</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Especialidad</th>
                <th scope="col" *ngIf="currentUserType == 'patient' || currentUserType == 'admin'">Médico</th>
                <th scope="col" *ngIf="currentUserType == 'doctor' || currentUserType == 'admin'">Paciente</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appoint of userAppList | filterDoctor: filterDoctor | filterPatient: filterPatient | filterSpecialty:  filterSpecialty">
                <td>{{appoint.date?.toDate() | date: 'short'}}</td>
                <td>{{appoint.specialty}}</td>
                <td *ngIf="currentUserType == 'doctor' || currentUserType == 'admin'">{{appoint.patientName}}</td>
                <td *ngIf="currentUserType == 'patient' || currentUserType == 'admin'">{{appoint.doctorName}}</td>
                <td>{{appoint.state | titlecase}}</td>
                <td><button [attr.data-appointment-uid]="appoint.uid" class="btn btn-danger" *ngIf="!(appoint.state == 'cancelado' || appoint.state == 'realizado')
                   && (( appoint.state == 'aceptado' && currentUserType == 'patient') 
                    || ( appoint.state == 'pendiente' && currentUserType == 'patient') || currentUserType == 'admin')" (click)="cancel($event)">
                    Cancelar turno</button></td>
                <td><button class="btn btn-primary" *ngIf="appoint.review" (click)="showReview($event)" [attr.data-appointment-uid]="appoint.uid">Ver reseña</button></td>
                <td><button class="btn btn-primary" *ngIf="appoint.review && appoint.state == 'realizado'">Completar encuesta</button></td>
                <td><button class="btn btn-primary" *ngIf="appoint.state == 'realizado'" (click)="qualify($event)" [attr.data-appointment-uid]="appoint.uid" >Calificar atención</button></td>
                <td><button class="btn btn-warning" *ngIf="currentUserType == 'doctor' && appoint.state == 'pendiente'">Rechazar</button></td>
                <td><button class="btn btn-warning" *ngIf="currentUserType == 'doctor' && appoint.state == 'pendiente'">Aceptar</button></td>
                <td><button class="btn btn-warning" *ngIf="currentUserType == 'doctor' && appoint.state == 'aceptado'">Finalizar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>