<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <br><br><br><br>
        <h3>Seleccione Especialidad</h3>
        <br><br>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let specialty of specialties">
            <button class="btn btn-primary" [attr.data-value]="specialty"
              (click)="selectSpecialty($event)">{{specialty}}</button>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" *ngIf="selectedSpecialty">
      <div class="position-sticky pt-3">
        <br><br><br><br>
        <h3>Seleccione Profesional</h3>
        <br><br>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let doctor of doctorsArray">
            <button *ngIf="doctor.specialty === selectedSpecialty" class="btn btn-primary"
              (click)="selectDoctor(doctor)"> <img src="{{doctor.photo_1}}" alt="" class="buttonImg">
              {{doctor.name}} {{doctor.lastName}}</button>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" *ngIf="selectedDoctorEmail">
      <div class="position-sticky pt-3">
        <br><br><br><br>
        <h3>Seleccione Paciente</h3>
        <br><br>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let patient of patientsArray">
            <button class="btn btn-primary"
              (click)="selectPatient(patient)"> <img src="{{patient.photo_1}}" alt="" class="buttonImg">
              {{patient.name}} {{patient.lastName}}</button>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="sidebarMenu" class="col-md-6 col-lg-6 d-md-block bg-light sidebar collapse" *ngIf="selectedDoctorEmail 
    && (this.userType === 'patient' || this.selectedUserEmail)">
      <app-select-turno [doctorEmail]="selectedDoctorEmail" [doctorFullName]="selectedDoctorFullName" [specialty]="selectedSpecialty"
      [selectedUserFullName]="selectedUserFullName" [selectedUserEmail]="selectedUserEmail"></app-select-turno>
    </nav>
  </div>
</div>