<section class="h-100">
  <form class="container py-5 h-100" [formGroup]="userRegister" (ngSubmit)="register()">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="login">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase" appSeasons>Registro de {{typeOfUserDisplay}}</h3>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input id="form3Example1m" class="form-control form-control-md" type="text" formControlName="name"/>
                      <label class="form-label" for="form3Example1m">Nombre</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('name')?.hasError('required') && userRegister.get('name')?.touched">
                        -- Este campo es requerido.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input  id="form3Example1n" class="form-control form-control-md" type="text" formControlName="lastName"/>
                      <label class="form-label" for="form3Example1n">Apellido</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('lastName')?.hasError('required') && userRegister.get('lastName')?.touched">
                        -- Este campo es requerido.
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input id="form3Example1m1" class="form-control form-control-md" type="number" formControlName="id"/>
                      <label class="form-label" for="form3Example1m1">DNI</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('id')?.hasError('required') && userRegister.get('id')?.touched">
                        -- Este campo es requerido.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input id="form3Example1n1" class="form-control form-control-md" type="number" formControlName="age"/>
                      <label class="form-label" for="form3Example1n1">Edad</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('age')?.hasError('required') && userRegister.get('age')?.touched">
                        -- Este campo es requerido.
                      </span>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('age')?.hasError('age') && userRegister.get('age')?.touched">
                        -- Valor inválido.
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2" *ngIf="this.typeOfUser === 'patient'">
                    <div class="form-outline">
                      <input type="text" id="form3Example8" class="form-control form-control-md" formControlName="healthInsurance"/>
                      <label class="form-label" for="form3Example8">Obra Social</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('healthInsurance')?.hasError('required') && userRegister.get('healthInsurance')?.touched">
                        -- Este campo es requerido.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input id="form3Example9" class="form-control form-control-md" type="email" formControlName="email" />
                      <label class="form-label" for="form3Example9">Email</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('email')?.hasError('required') && userRegister.get('email')?.touched">
                        -- Este campo es requerido.
                      </span>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('email')?.hasError('email') && userRegister.get('email')?.touched">
                        -- Formato invalido.
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input id="form3Example90" class="form-control form-control-md" type="password" formControlName="password"/>
                  <label class="form-label" for="form3Example90">Contraseña</label>
                  <span class="text-danger form-small-text" *ngIf="userRegister.get('password')?.hasError('required') && userRegister.get('password')?.touched">
                    -- Este campo es requerido.
                  </span>
                  <span class="text-danger form-small-text" *ngIf="userRegister.get('password')?.hasError('minlength') && userRegister.get('password')?.touched">
                    -- Su contraseña debe tener al menos 6 caracteres.
                  </span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input class="form-control form-control-md" type="password" formControlName="passwordRepeat"/>
                      <label class="form-label" for="form3Example99">Repetir contraseña</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('password')?.hasError('required') && userRegister.get('password')?.touched">
                        -- Este campo es requerido.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <input class="form-control form-control-md" type="file" formControlName="photo_1" accept=".png,.jpg" name="photo_1" 
                      (change)="encodeImage_1($event)"/>
                  <label class="form-label" for="form3Example90">Imagen de perfil</label>
                  <span class="text-danger form-small-text" *ngIf="userRegister.get('photo_1')?.hasError('required') && userRegister.get('photo_1')?.touched">
                    -- Este campo es requerido.
                  </span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2" *ngIf="this.typeOfUser === 'patient'">
                    <div class="form-outline">
                      <input  class="form-control form-control-md" type="file" formControlName="passwordRepeat" accept=".png,.jpg" name="photo_2"
                      (change)="encodeImage_2($event)"/>
                      <label class="form-label" for="form3Example99">Imagen de perfil 2</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('photo_2')?.hasError('required') && userRegister.get('photo_2')?.touched">
                        -- Este campo es requerido.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2" *ngIf="this.typeOfUser === 'doctor'">
                    <div class="form-outline">
                      <input class="form-control form-control-md" type="text" formControlName="specialty" />
                      <label class="form-label" for="form3Example99">Especialidad</label>
                      <span class="text-danger form-small-text" *ngIf="userRegister.get('specialty')?.hasError('required') && userRegister.get('specialty')?.touched">
                        -- Este campo es requerido.
                      </span>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button class="btn btn-secondary btn-md ms-2" type="button" *ngIf="isInAdminPage" (click)="adminRegister()">Registrar Administrador</button>
                  <button type="button" class="btn btn-secondary btn-md ms-2" (click)="toggleRegister()">Registrar {{typeOfUserDisplayOther}}</button>
                  <button class="btn btn-danger btn-md ms-2" type="submit" appSeasonsHover>Registrarse</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2" *ngIf="this.typeOfUser === 'doctor'">        
        <app-speciality-list (emitSpecialty)="addSpecialty($event)"></app-speciality-list>
<!--         Elija su Especialidad
        <br>
        <br>
        <button class="row" *ngFor="let spe of specialities" value="{{spe}}">
          {{spe}}
        </button>
        <br>
        Agregar Especialidad
        <input type="text">
        <button type="button" class="btn btn-warning btn-md ms-2" appSeasonsHover>Agregar</button> -->
      </div>
    </div>
  </form>
</section>