.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: .75em;
	padding-right: .75em;
	}
	.card-registration .select-arrow {
	top: 13px;
	}

	.img-fluid{
		height: 100%!important;
		right: 0;
	}

	.card-registration{
		overflow: hidden!important;
	}
	
	.image-wrapper{
		height: 100%!important;
		overflow: hidden;
		position: relative;
	}

.avatar{
	height: 50px;
}

.wrapperLogin{
	display: flex;
}

.buttonWrapper{
	display: flex!important;
	flex-direction: column!important;
	justify-content: space-around!important;
	padding: 20px!important;
}

.buttonImg{
	width: 30px;
	border-radius: 50%;
	margin-right: 7px;
}

.btn{
	text-align: left!important;
}