<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top">
  <div class="container-fluid">
    <div class="navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!--         <li class="nav-item burger">
          <img src="../../../assets/img/general/burger.svg" *ngIf="burger" class="nav-link burger" (click)="openMenu()" />
        </li> -->
        <li class="nav-item collapse-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item collapse-item">
          <a class="nav-link" routerLink="register" *ngIf="!currentUserEmail">Regitro Usuarios</a>
        </li>
        <li class="nav-item collapse-item">
          <a class="nav-link" routerLink="login" *ngIf="!currentUserEmail">Login</a>
        </li>
        <li class="nav-item collapse-item">
          <a class="nav-link" routerLink="admin/especialistas" *ngIf="currentUserEmail && userType === 'admin'">Gestión especialistas</a>
        </li>
        <li class="nav-item collapse-item">
          <a class="nav-link" routerLink="admin/new/users" *ngIf="currentUserEmail && userType === 'admin'">Crear usuarios</a>
        </li>
        <li class="nav-item collapse-item">
          <a class="nav-link" routerLink="admin/users" *ngIf="currentUserEmail && userType === 'admin'">Ver usuarios</a>
        </li>
        <li class="nav-item collapse-item">
          <a class="nav-link" routerLink="login" *ngIf="currentUserEmail" (click)="SignOut()">Logout</a>
        </li>
        <!-- 
        <li class="nav-item collapse-item">
          <a class="nav-link" aria-current="page" *ngIf="!mobile" routerLink="games" (click)="closeMenu()">Juegos</a>
        </li>
        <li class="nav-item collapse-item">
          <a class="nav-link" aria-current="page" *ngIf="currentUserEmail  && !mobile" routerLink="scores" (click)="closeMenu()">Scores</a>
        </li> -->
        <li class="nav-item collapse-item">
          <a class="nav-link" aria-current="page" *ngIf="currentUserEmail" disabled>Bienvenido: {{ currentUserName }} {{ currentUserLastName }}</a>
        </li>
        <!--
        <li class="nav-item collapse-item">
          <a class="nav-link" aria-current="page" *ngIf="currentUserEmail  && !mobile" routerLink="chat" (click)="closeMenu()">Chat</a>
        </li>
 -->
        <!--           <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
      <!--       <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>