<br><br><br>
<div id="about-wrapper">
    <div class="about-item">
        <div class="profile-mask">
            <img class="avatar" src="{{currentUser?.photo_1}}" alt="" id="profile">
        </div>

        <h2 class="reset">{{currentUser?.name}} {{currentUser?.lastName}}</h2>
        <h4 class="reset">{{currentUser?.type | titlecase}}</h4>
        <h4 class="reset" *ngIf="currentUser?.type == 'doctor'">Especialidades: {{currentUser?.specialty}}</h4>
        <p class="reset">Edad: {{currentUser?.age}}</p>
    </div>
    <app-schedule *ngIf="currentUser?.type == 'doctor'" [doctorEmail]="currentUserEmail"></app-schedule>
    <br><br>
    <app-user-historia-clinica *ngIf="currentUser?.type == 'patient'" [userEmail]="currentUserEmail" [doctorName]="currentUserName"></app-user-historia-clinica>
</div>