<br><br><br>
<div id="about-wrapper">
    <div class="about-item">
        <div class="profile-mask">
            <img class="avatar" src="{{currentUser?.photo_1}}" alt="" id="profile">
        </div>

        <h2 class="reset">{{currentUser?.name}} {{currentUser?.lastName}}</h2>
        <h4 class="reset">{{currentUser?.type | titlecase}}</h4>
        <h4 class="reset" *ngIf="currentUser?.type == 'doctor'">Especialiades: {{currentUser?.specialty}}</h4>
        <p class="reset">Edad: {{currentUser?.age}}</p>
    </div>
    <div *ngIf="currentUser?.type == 'doctor'">
        <h4>Mis horarios</h4>
        <div class="horarios">
            <div class="lunes">
                <h6>Lunes</h6>
                <div class="card" *ngFor="let hour of lunes | keyvalue">
                    <div *ngIf="hour.value === false" (click)="toggle($event)">{{hour.key}}</div>
                    <div *ngIf="hour.value === true" class="selected" (click)="toggle($event)">{{hour.key}}</div>

                </div>
<!--                     <h6>{{day.key | titlecase}}</h6> -->
<!--                     <div class="card" *ngFor="let hour of day.hours" (click)="toggle($event)">
                       {{hour}}
                    </div> -->
               
            </div>
            <div class="martes">
                <h6>Martes</h6>
                <div class="card" *ngFor="let hour of martes | keyvalue">
                    <div *ngIf="hour.value === false" (click)="toggle($event)">{{hour.key}}</div>
                    <div *ngIf="hour.value === true" class="selected" (click)="toggle($event)">{{hour.key}}</div>

                </div>
<!--                     <h6>{{day.key | titlecase}}</h6> -->
<!--                     <div class="card" *ngFor="let hour of day.hours" (click)="toggle($event)">
                       {{hour}}
                    </div> -->
               
            </div>
            <div class="miercoles">
                <h6>Miercoles</h6>
                <div class="card" *ngFor="let hour of miercoles | keyvalue">
                    <div *ngIf="hour.value === false" (click)="toggle($event)">{{hour.key}}</div>
                    <div *ngIf="hour.value === true" class="selected" (click)="toggle($event)">{{hour.key}}</div>

                </div>
<!--                     <h6>{{day.key | titlecase}}</h6> -->
<!--                     <div class="card" *ngFor="let hour of day.hours" (click)="toggle($event)">
                       {{hour}}
                    </div> -->
               
            </div>
            <div class="jueves">
                <h6>Jueves</h6>
                <div class="card" *ngFor="let hour of jueves | keyvalue">
                    <div *ngIf="hour.value === false" (click)="toggle($event)">{{hour.key}}</div>
                    <div *ngIf="hour.value === true" class="selected" (click)="toggle($event)">{{hour.key}}</div>

                </div>
<!--                     <h6>{{day.key | titlecase}}</h6> -->
<!--                     <div class="card" *ngFor="let hour of day.hours" (click)="toggle($event)">
                       {{hour}}
                    </div> -->
               
            </div>
            <div class="viernes">
                <h6>Viernes</h6>
                <div class="card" *ngFor="let hour of viernes | keyvalue">
                    <div *ngIf="hour.value === false" (click)="toggle($event)">{{hour.key}}</div>
                    <div *ngIf="hour.value === true" class="selected" (click)="toggle($event)">{{hour.key}}</div>

                </div>
<!--                     <h6>{{day.key | titlecase}}</h6> -->
<!--                     <div class="card" *ngFor="let hour of day.hours" (click)="toggle($event)">
                       {{hour}}
                    </div> -->
               
            </div>
            <div class="sabado">
                <h6>Sabado</h6>
                <div class="card" *ngFor="let hour of sabado | keyvalue">
                    <div *ngIf="hour.value === false" (click)="toggle($event)">{{hour.key}}</div>
                    <div *ngIf="hour.value === true" class="selected" (click)="toggle($event)">{{hour.key}}</div>

                </div>
<!--                     <h6>{{day.key | titlecase}}</h6> -->
<!--                     <div class="card" *ngFor="let hour of day.hours" (click)="toggle($event)">
                       {{hour}}
                    </div> -->
               
            </div>

<!--             <div class="monday">
                <h6>Lunes</h6>
                <div class="card" (click)="toggle($event)">8:00</div>
                <div class="card" (click)="toggle($event)">9:00</div>
                <div class="card" (click)="toggle($event)">10:00</div>
                <div class="card" (click)="toggle($event)">11:00</div>
                <div class="card" (click)="toggle($event)">12:00</div>
                <div class="card" (click)="toggle($event)">13:00</div>
                <div class="card" (click)="toggle($event)">14:00</div>
                <div class="card" (click)="toggle($event)">15:00</div>
                <div class="card" (click)="toggle($event)">16:00</div>
                <div class="card" (click)="toggle($event)">17:00</div>
                <div class="card" (click)="toggle($event)">18:00</div>
                <div class="card" (click)="toggle($event)">19:00</div>
            </div>

            <div class="tuesday">
                <h6>Martes</h6>
                <div class="card" (click)="toggle($event)">8:00</div>
                <div class="card" (click)="toggle($event)">9:00</div>
                <div class="card" (click)="toggle($event)">10:00</div>
                <div class="card" (click)="toggle($event)">11:00</div>
                <div class="card" (click)="toggle($event)">12:00</div>
                <div class="card" (click)="toggle($event)">13:00</div>
                <div class="card" (click)="toggle($event)">14:00</div>
                <div class="card" (click)="toggle($event)">15:00</div>
                <div class="card" (click)="toggle($event)">16:00</div>
                <div class="card" (click)="toggle($event)">17:00</div>
                <div class="card" (click)="toggle($event)">18:00</div>
                <div class="card" (click)="toggle($event)">19:00</div>
            </div>

            <div class="wednesday">
                <h6>Miércoles</h6>
                <div class="card" (click)="toggle($event)">8:00</div>
                <div class="card" (click)="toggle($event)">9:00</div>
                <div class="card" (click)="toggle($event)">10:00</div>
                <div class="card" (click)="toggle($event)">11:00</div>
                <div class="card" (click)="toggle($event)">12:00</div>
                <div class="card" (click)="toggle($event)">13:00</div>
                <div class="card" (click)="toggle($event)">14:00</div>
                <div class="card" (click)="toggle($event)">15:00</div>
                <div class="card" (click)="toggle($event)">16:00</div>
                <div class="card" (click)="toggle($event)">17:00</div>
                <div class="card" (click)="toggle($event)">18:00</div>
                <div class="card" (click)="toggle($event)">19:00</div>
            </div>

            <div class="thursday">
                <h6>Jueves</h6>
                <div class="card" (click)="toggle($event)">8:00</div>
                <div class="card" (click)="toggle($event)">9:00</div>
                <div class="card" (click)="toggle($event)">10:00</div>
                <div class="card" (click)="toggle($event)">11:00</div>
                <div class="card" (click)="toggle($event)">12:00</div>
                <div class="card" (click)="toggle($event)">13:00</div>
                <div class="card" (click)="toggle($event)">14:00</div>
                <div class="card" (click)="toggle($event)">15:00</div>
                <div class="card" (click)="toggle($event)">16:00</div>
                <div class="card" (click)="toggle($event)">17:00</div>
                <div class="card" (click)="toggle($event)">18:00</div>
                <div class="card" (click)="toggle($event)">19:00</div>
            </div>

            <div class="friday">
                <h6>Viernes</h6>
                <div class="card" (click)="toggle($event)">8:00</div>
                <div class="card" (click)="toggle($event)">9:00</div>
                <div class="card" (click)="toggle($event)">10:00</div>
                <div class="card" (click)="toggle($event)">11:00</div>
                <div class="card" (click)="toggle($event)">12:00</div>
                <div class="card" (click)="toggle($event)">13:00</div>
                <div class="card" (click)="toggle($event)">14:00</div>
                <div class="card" (click)="toggle($event)">15:00</div>
                <div class="card" (click)="toggle($event)">16:00</div>
                <div class="card" (click)="toggle($event)">17:00</div>
                <div class="card" (click)="toggle($event)">18:00</div>
                <div class="card" (click)="toggle($event)">19:00</div>
            </div>

            
            <div class="sunday">
                <h6>Sábado</h6>
                <div class="card" (click)="toggle($event)">8:00</div>
                <div class="card" (click)="toggle($event)">9:00</div>
                <div class="card" (click)="toggle($event)">10:00</div>
                <div class="card" (click)="toggle($event)">11:00</div>
                <div class="card" (click)="toggle($event)">12:00</div>
                <div class="card" (click)="toggle($event)">13:00</div>
                <div class="card" (click)="toggle($event)">14:00</div>
            </div>
 -->
        </div>
    </div>
</div>